<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <queries><package android:name="com.whatsapp"/></queries>
    <application android:allowBackup="false" android:label="GH Procurement"
        android:icon="@android:drawable/ic_menu_send"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider android:name=".RfqProvider"
            android:authorities="${applicationId}.rfqprovider"
            android:exported="false"
            android:grantUriPermissions="true"/>
    </application>
</manifest>
